/* styles/HomePage.module.css */



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  height: 110px; /* 增加导航栏高度 */
  margin-left: 15px;
  margin-right:15px;
  position: relative; /* 为了能使用伪元素 */
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0; /* 定位到底部 */
  left: 0%; /* 控制横线偏移到靠右部分 */
  width: 100%; /* 横线长度，根据需要调整 */
  height: 2px; /* 横线高度 */
  background-color: black; /* 横线颜色 */
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .buttonGroup {
  display: flex;
}

.header .button {
  margin-left: 20px;
  padding: 8px 15px;
  border: 2px solid black;
  color: black;
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
  font-size:20px;
}

.header .button:hover {
  background-color: black;
  color: white;
  font-size:20px;
}

.content {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.content h2 {
  margin-bottom: 25px;
  color: black;
  font-size:55px;
}

.content .inputGroup {
  display: flex;
  align-items: center;
  font-size: 20px;
  width: 100%; /* 确保父容器占满宽度 */
  max-width: 100%; /* 确保父容器最大宽度为100%（从根元素规定的尺寸） */
  justify-content: center; /* 居中内容 */
}

.content .inputGroup input {
  width: 100%;
  max-width: 600px; /* 最大宽度为600px */
  padding: 10px;
  margin-right: 20px;
  border: 2px solid black;
  border-radius: 15px;
  outline: none;
  font-size:20px;
  box-sizing: border-box; /* 确保内边距和边框包含在宽度内 */
}

.content .inputGroup button {
  padding: 10px 20px;
  border: 2px solid black;
  color: black;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  font-size:20px;
}

.content .inputGroup button:hover {
  background-color: black;
  color: white;
  font-size:20px;
}